# Node modules
node_modules/

# Distribution files
dist/

# Build output
out/

# VS Code directory
.vscode/

# Test files
.vscode-test.mjs

# Package lock file
package-lock.json

# Ignore VS Code-specific files
.vscodeignore

# Logs, changelogs, and documentation
CHANGELOG.md
vsc-extension-quickstart.md

.DS_Store
*.vsix
